<?xml version="1.0" encoding="UTF-8"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfDomainRoutePlugin</name>
  <channel>pear.symfony-project.com</channel>
  <summary>Extend Symfony's routing to allow effective use of domains and subdomains</summary>
  <description>sfDomainRoutePlugin lets you easily pass parameters in the subdomain (e.g. username.domain.com), limit routes to certain subdomains (e.g. www.domain.com to one route and blog.subdomain.com to another), and generate proper urls between different subdomains.</description>
  <lead>
    <name>Tal Ater</name>
    <user>talater</user>
    <email>tal@talater.com</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>0.1.1</release>
    <api>0.1.0</api>
  </version>
  <stability>
    <release>alpha</release>
    <api>alpha</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.2.0</min>
        <max>1.3.0</max>
        <exclude>1.3.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
      <version>
        <release>0.1.1</release>
        <api>0.1.0</api>
      </version>
      <stability>
       <release>alpha</release>
       <api>alpha</api>
      </stability>
      <date>2009-05-03</date>
      <license>MIT</license>
      <notes>
        Fixed the way urls are generated. Will now use the host requirements of a route when generating a url if no subdomain defined.
      </notes>
    </release>
    <release>
      <version>
        <release>0.1.0</release>
        <api>0.1.0</api>
      </version>
      <stability>
       <release>alpha</release>
       <api>alpha</api>
      </stability>
      <date>2009-04-30</date>
      <license>MIT</license>
      <notes>
        Initial release.
      </notes>
    </release>
  </changelog>
</package>
